# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.pytest_cache/


# --- Folders ---
core/__BCK/
ui/controller tools/
sandbox/

# --- Misc ---
.vscode/
.idea/
*.swp
*.swo
*.txt
*.ini
core/TEST.py
core/tracks_rig.py
